<div class="panel panel-default">
    <div class="panel-heading alert alert-info">@Title</div>
    <div class="panel-body alert alert-success">@ChildContent</div>

    <button class="btn btn-danger" @onclick="OnClickMethod">
        Button to be clicked!
    </button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickMethod { get; set; }
}
