@page "/category"
@using BlazingShop.Data
@using BlazingShop.Services

@inherits OwningComponentBase<CategoryService>

@if (categories == null)
{
    <p><em>Loading or No categories exist</em></p>
}
else
{
    <div class="container border p-3">
        <div class="row">
            <div class="col-5">
                <h3 class="text-info">Category List</h3>
            </div>
            <div class="col-3">
                <button class="btn btn-info form-control" @onclick="AddNewCategory">
                    Add New Product
                </button>
            </div>
        </div>

        <div class="row pt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in categories)
                    {
                    <tr>
                        <td>@obj.Name</td>
                        <td>
                            <button class="btn btn-primary" style="width:150px">
                                Edit
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (ShowPopup)
{
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-info">Category</h3>
                <button type="button" class="close" @onclick="ClosePopup">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-9">
                        <div class="row py-2">
                            <div class="col-4">

                            </div>
                            <div class="col-8">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


@code {

    List<Category> categories;
    Category objCategory = new Category();
    bool ShowPopup = false;

    protected override void OnInitialized()
    {
        categories = Service.GetCategories();
    }

    void AddNewCategory()
    {
        objCategory.Id = 0;
        ShowPopup = true;
    }

    void ClosePopup()
    {
        ShowPopup = false;
    }

}
