@page "/"

@using BlazingShop.Services;
@using BlazingShop.Data;
@inherits OwningComponentBase<ProductService>


<div class="row">

    @foreach(var product in listProduct)
    {

    }

</div>


@code{
    List<Product> listProduct = new List<Product>();
    protected override void OnInitialized()
    {
        listProduct = Service.GetProducts();
    }
}
