@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<BlazingShop.Pages.Components.ChildComponent Title="This title is passed as parameters from Parent">
    This Content is displayed between the child compoenent tag inside parent component.
</BlazingShop.Pages.Components.ChildComponent>

@code {

}
